:root {
  --color_0: #8ac8f1;
  --color_12: 27, 28, 30;

  .talking-about-us {
    padding: 5rem;
  }

  @media (max-width: 767.98px) {
    .talking-about-us {
      padding: 2rem;
      margin-top: 4rem;
    }
  }

  .background-talking {
    background-color: rgba(var(--color_12), 0.8);
  }

  .title-talking-about-us {
    font-size: 2.5rem;
    text-align: left;
    padding: 0 4rem;
    padding-bottom: 1rem;
  }

  .space-box-talking {
    padding-top: 2rem;
  }

  .formulario {
    width: 100% !important;
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
    margin: 0 auto;

  }

  .formulario label {
    color: #3f3f3f;
  }

  .formulario input {
    background-color: #181717;
    border: solid 0.5px #3f3f3f;
    color: #f1f1f1;
    width: 98%;
    padding: 2%;
  }

  .formulario textarea {
    background-color: #181717;
    border: solid 0.5px #3f3f3f;
    width: 100%;
    padding: 8px;
    color: #f1f1f1;
  }
}
