* {
    list-style: none;
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --roxo-principal: #810CD2;
    --branco-secundario: #ffffff;
    --background-dark: #232323;
    --fonte-principal: 'Kanit', sans-serif;
}

body {
    background-image: url(../midias-site/MENU-GALERIA/28.png);
}

nav {
    background: transparent;
    background-color: var(--background-dark);
}

nav ul>li>a {
    color: var(--branco-secundario) !important;
    font-family: 'Kanit', sans-serif;
    font-size: 19px !important;
    letter-spacing: 0.9px;
}

nav ul>li>.nav-link:hover {
    color: var(--roxo-principal) !important;
}

.quadrado-principal {
    margin: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.item {
    border: 1px solid rgba(199, 199, 199, 0.39);
    width: 100%;
    padding: 2%;
}
.imagens-clientes {
    width: 100%;
    height: 100%;
}
.container-fluid {
    display: flex;
    flex-direction: row;
}

.rodap1 {
    padding: 6%;
    color: var(--branco-secundario);
}

.rodap2 {
    padding: 15%;
    color: var(--branco-secundario);
}